.header {
  width: 100%;
  /* 陰影 */
  -webkit-box-shadow: 0 2px 12px 0 rgba(160, 160, 160, 0.5);
  -moz-box-shadow: 0 2px 12px 0 rgba(144, 144, 144, 0.5);
  box-shadow: 0 2px 12px 0 rgb(175, 175, 175);
  /* 固定位置 */
  position: fixed;
  z-index: 999;
}

.header.active {
  height: 250px;
  transition: transform 0.3s; 
}

.menu {
  display: block;
  @include desktop {
    display: none;
  }
}

.contact-link {
  display: none;  
  @include desktop {
    display: flex;
  }
}

.nav-link{
  display:none;
}

.nav-link.active{
  display: block;
  position: fixed;
  left: 0;
  flex-direction: column;
  width: 100%;
  text-align: center;
  transition: 0.3s;
}

.nav-item {
  display: none;
  @include desktop {   
    display: flex;
  } 
}

.nav-link.active {
  top: 70px;
}

.social-item {
  display: none;
  @include desktop {
    display: block;
  } 
}

.logo {
  width: 96px;
}

