.m-100 {
  margin-left: 0;
  @include desktop {
    margin-left: -100px;
  } 
}
.m-100r {
  margin-right: -100px;
}

.mt-60 {
  margin-top: 60px;
}

.p-2 {
  padding: 16px;
}

.p-4 {
  padding: 32px;
}

.content {
  top: 300px;
  left: 10%;
  width: 80%;
  @include pad {
    top: 130px;
  }
  @include desktop {
    top: 300px;
  }
}

.img-5-content {
  top: 300px;
  // left: 5%;
  padding: 20px;
  @include pad {
    top: 100px;
  }
  @include desktop {
    top: 250px;
  }
}

.content-course {
  top: 130px;
  left: 5%;
  width: 80%;
  @include pad {
    top: 130px;
  }
  @include desktop {
    top: 120px;
  }
}

