.btn-outline {
  color: $primary;
  border: 1px $primary solid;
  border-radius: 15px;
  padding: 8px 16px;
  &:hover {
    color: $light;
    background: $primary;
    transition: background-color 0.4s;;
  }
}

.btn-hover:hover {
    border-bottom: 3px $primary solid; 
}

.btn-a:hover {
  opacity: 0.5;
}

.btn-main {
  color: $dark;
  background: $success;
  border-radius: 5px;
  padding: 16px 16px;
  &:hover {
    color: $light;
    background: $secondary;
    transition: background-color 0.4s;
  }
}

.btn-second {
  color: $light; 
  border-radius: 5px;
  padding: 16px 16px;
  background: $secondary;
  &:hover {
    color: $light;
    background: $primary;
    transition: background-color 0.4s;
  }
}

.fixed-item {
  bottom: 50%;
  right: 20px;
}

.fixed-icon {
  font-size: 48px;
}

